/*=======---  Example CSS styling  ---=======*/
/* Any CSS here will apply to your document! */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --image-border-color: black;
  --HB_Color_HeaderText: black;
  --link-color: black;
  --descriptive-background-color: white;
  --monster-background-color: #a63333;
  --monster-text-color: #f2f2f2;
  --monster-border-color: #590b0b;
  --HB_Color_Footnotes: #666;
}

.columnWrapper {
  columns: 1;
}

.page {
  width: 210mm;
  height: 296.8mm;
}

.page h1,
.page h2,
.page h3,
.page h4,
.page h5,
.page h6 {
  font-family: "Merriweather", system-ui;
  border: none;
}

.page * + h4 {
  margin-top: 0.6cm;
}

.page * {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  letter-spacing: 0.04rem;
  word-spacing: 0.3rem;
}

.page p {
  line-height: 1.4rem;
  margin-bottom: 0.12cm;
}

.page {
  background-color: transparent;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/4a/Paper001_4K_Color.png);
  background-size: 180px 300px;
  background-repeat: repeat;
}

.page::after {
  background-image: none;
  height: 0;
}

main {
  column-span: all;
  margin-bottom: 1cm;

  p:has(em) {
    margin: 0.6cm 0 !important;
  }
}

.page h2:first-child {
  margin-top: 0;
}

.page h2 {
  margin-top: 2cm;
  margin-bottom: 0.2cm;
  clear: both;
}

.page h3:first-child {
  margin-top: 0;
}

.page h3 {
  margin-top: 1.5cm;
  margin-bottom: 0.2cm;
  clear: both;
}

.small-vspace {
  height: 1rem;
}

p:has(img) {
  text-align: center;
}

img {
  padding: 5px;
  margin-bottom: 0.3cm;
  margin-top: 0.3cm;
  border: 2px solid var(--image-border-color);
}

a:link,
a:visited,
a:active,
a:hover {
  color: var(--link-color);
}

.block.descriptive {
  border-image: none;
  border: 1px solid black;
  padding: 0.3cm;
  background-color: var(--descriptive-background-color);

  p {
    font-style: italic;
  }
}

.page .block.monster.frame {
  border-image: none;
  background-image: none;
  background-color: var(--monster-background-color);
  border: 2px solid var(--monster-border-color);
  padding: 0.3cm;

  * {
    color: var(--monster-text-color);
  }

  hr {
    background-image: none;
    background-color: var(--monster-text-color);
    height: 2px;
    margin: 0.3cm 0;
  }

  h3 {
    border-bottom: 2px solid var(--monster-text-color);
    margin-top: 0.3cm;
  }

  p {
    text-indent: 0;
  }
}
